
@font-face {font-family: "iconfont";
  src:url('iconfont.ttf') format('truetype'); /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-unfold:before { content: "\e606"; }

.icon-shouqi:before { content: "\e6f7"; }

.icon-xiangji:before { content: "\e620"; }

.icon-cha:before { content: "\e6b3"; }

.icon-quan:before { content: "\e602"; }

.icon-arrow-l:before { content: "\e63f"; }

.icon-pingjia:before { content: "\e74e"; }

.icon-bofang:before { content: "\e623"; }

.icon-rili-yue:before { content: "\e6e3"; }

.icon-shangchuanwenjian:before { content: "\e61d"; }

